'menu':[
    {
        'label': 'Packages'
        'submenu': [
          'label': 'Force.com'
          'submenu': [
            { 'label': 'Build Current Project', 'command': 'build:sf-deploy' },
            { 'label': 'Build Static Resources', 'command': 'build:sf-deploy-staticres'},
            { 'label': 'Build Apex', 'command': 'build:sf-deploy-apex' },
            { 'label': 'Build Visualforce', 'command': 'build:sf-deploy-visualforce'}
          ]
        ]
    }
]
'context-menu':
    '.tree-view.full-menu [is="tree-view-file"]': [
        { 'label': 'Force.com : Build File', 'command': 'build:sf-deploy-file-treeview' },
        { 'label': 'Force.com : Retrieve File', 'command': 'build:sf-retrieve-unpackaged-file-treeview' },
        { 'type': 'separator' }
    ]
    '.tree-view.multi-select': [
        { 'label': 'Force.com : Build Files', 'command': 'build:sf-deploy-several-files' },
        { 'label': 'Force.com : Retrieve Files', 'command': 'build:sf-retrieve-several-files' },
        { 'type': 'separator' }
    ]
    '.tree-view.full-menu .directory.project-root .list-item': [
        { 'label': 'Force.com : Create Apex Class', 'command': 'forcedotcom-builder:create-apex-class' }
        { 'type': 'separator' }
    ]
