'menu':[
    {
        'label': 'Packages'
        'submenu': [
          'label': 'Force.com'
          'submenu': [
            { 'label': 'Build Current Project', 'command': 'build:sf-deploy' },
            { 'label': 'Build Static Resources', 'command': 'build:sf-deploy-staticres'},
            { 'label': 'Build Apex', 'command': 'build:sf-deploy-apex' },
            { 'label': 'Build Visualforce', 'command': 'build:sf-deploy-visualforce'}
          ]
        ]
    }
]
'context-menu':
    '.tree-view .entry': [
        { 'label': 'Force.com : Build File', 'command': 'build:sf-deploy-file-treeview' },
        { 'label': 'Force.com : Retrieve File', 'command': 'build:sf-retrieve-unpackaged-file-treeview' },
    ]
