'.platform-darwin atom-workspace':
  'alt-cmd-b': 'force.com:deploy-current-file'
  'alt-cmd-r': 'force.com:retrieve-current-file'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'alt-ctrl-u': 'force.com:deploy-current-file'
  'alt-ctrl-r': 'force.com:retrieve-current-file'
