'.platform-darwin atom-workspace':
  'alt-cmd-b': 'build:sf-deploy-file'
  'alt-cmd-r': 'build:sf-retrieve-unpackaged-file'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'alt-ctrl-u': 'build:sf-deploy-file'
  'alt-ctrl-r': 'build:sf-retrieve-unpackaged-file'
